include ./mixins.jade

doctype html
html
	include ./includes/head.jade
	body
		include ./includes/navbar.jade
		include ./includes/alert_head.jade
		.unauth
			h2 Unauthorised Access to Administration Pages
