include ./mixins.jade

doctype html
html
	include ./includes/head.jade
	body
		div
			h1 Founders and Coders Membership Portal
			h3 Login with github below. New users will be taken to a sign up page
			a.btn.btn-primary(href='/login') Login
	+foot()

