include ./mixins.jade

doctype html
html
	include ./includes/head.jade
	body
		div
			if !user
				h1 Hello!  You don't appear to be a member yet! Please sign up
					span
						a(href="/signup") here!
			else
		#wrapper
			include ./includes/navbar.jade
			.jumbotron
				.container
					.row
						.col-xs-12
							include ./includes/alert_head.jade
				include ./includes/memberpane.jade
		+foot("account")
