include ./mixins.jade

doctype html
html
	include ./includes/head.jade
	body
		include ./includes/navbar.jade
		div
			form(action='/api/messages/'+ user.username , method='POST')
				label Email
					input#email(type='text', name='email', value=user.email)
				label Email Type
					input#email(type='text', name='emailtype', value="simpleMessage")
				label First Name
					input#firstname(type='text', name='firstname', value=user.first_name)
				label Last Name
					input#lastname(type='text', name='lastname', value=user.last_name)
				label Subject
					input#subject(type='text', name='subject', placeholder='subject')
				label Message
					input#emailbody(type='text', name='contents', placeholder='emailbody')
				button(type='submit') Submit
	+foot()
