include ./mixins.jade

doctype html
html
	include ./includes/head.jade
	body
		include ./includes/navbar.jade
	form(action='/api/accounts', method='POST')
		input(type='text', name='first_name', placeholder='First name')
		| *
		br
		input(type='text', name='last_name', placeholder='Last name')
		| *
		br
		input(type='text', name='phone_number', placeholder='Phone number')
		| *
		br
		input(type='text', name='email', placeholder='Email')
button(type='submit')
	+foot()
