script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
//- script(src='public/lib/jquery-2.1.3.min.js')
//- script(src='public/lib/bootstrap.min.js')
