head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(href='/css/bootstrap.min.css', rel='stylesheet')
	link(href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet')
	link(href='/css/fandcmain.css', rel='stylesheet')
	link(href='/css/main.css', rel='stylesheet')
	script(src='/scripts/main.js')
