.masthead
	#nav.navwrap(style='height: 50px;')
		.logo-wrapper
			p
		#spin-wrapper
			img#spin-img(src='/img/sun1-bw.png', alt='', style='transform: rotate(0deg);')
			img#bulb(src='/img/logobw.png', alt='founders')
		ul#collapse.navbar(style='display: block;')
			li
				a(href='/account') Account
			li
				a(href='/account/messages') Messages
			li
				a(href='/admin') Admin
			li
				a(href='/login') Login
			li
				a(href='/logout') Logout
