.masthead
	.container
		nav.navbar.navbar-default
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href='http://localhost:3000/account')  My Account
					li
						a(href='http://localhost:3000/account/messages')  My Messages
					li
						a(href='http://localhost:3000/admin')  Admin
					li
						a(href='http://localhost:3000/login')  Login
					li
						a(href='http://localhost:3000/logout')  Logout
					li
						a(href='http://foundersandcoders.org/')  Founders&amp;Coders
