.masthead
	.container
		nav.navbar.navbar-default
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href='account')  My Account
					li
						a(href='/account/messages')  My Messages
					li
						a(href='login')  Login
					li
						a(href='logout')  Logout
					li
						a(href='http://foundersandcoders.org/')  Founders&amp;Coders